<div class="col-md-6 offset-md-3">
    <h3>Create patient</h3>
    <form (ngSubmit)="onSubmit()">
    
    <div class="form-group">

        <label> patientId </label>
        <input type="number" class="form-control" id="patientId" 
               [(ngModel)]="patient.userId" name="patientId" placeholder="patientId">
        
              
               <label> FirstName</label>
               <input type="text" class="form-control" id="patientFirstName" 
                       [(ngModel)]="patient.patientFirstName" name="patientFirstName" placeholder="patientFirstName">
                      
                      
                       <label> LastName</label>
                       <input type="text" class="form-control" id="patientLastName" 
                               [(ngModel)]="patient.patientLastName" name="patientLastName" placeholder="patientLastName">
                      
                      
                              
                               <input type="number" class="form-control" id="age" 
                                       [(ngModel)]="patient.age" name="age" placeholder="age">
                                    
         <label> Email </label>
        <input type="text" class="form-control" id="email" 
                [(ngModel)]="patient.email" name="email" placeholder="email">

                <label>Date </label>
                <input type="text" class="form-control" id="appointmentDate" 
                        [(ngModel)]="patient.appointment[0].appointmentDate" name="appointmentDate" placeholder="appointmentDate">

        <!-- <label>Date </label>
        <input type="text" class="form-control" id="appointmentDate" 
               [(ngModel)]="appointment.appointmentDate" name="name" placeholder="appointmentDate">
         -->
      
        
        <!-- <label> City </label>
        <input type="text" class="form-control" id="city" 
                [(ngModel)]="medicalCenter.medicalCenterCity" name="city" placeholder="city">
                <label> State </label>
                <input type="text" class="form-control" id="state" 
                        [(ngModel)]="medicalCenter.medicalCenterState" name="state" placeholder="state">
                
                        <label> Street Address </label>
                        <input type="text" class="form-control" id="medicalCenterStreetAddress" 
                                [(ngModel)]="medicalCenter.medicalCenterStreetAddress" 
                                name="medicalCenterStreetAddress" placeholder="medicalCenterStreetAddress">
                               
                                <label> Zip Code </label>
                                <input type="text" class="form-control" id="medicalCenterZip" 
                                        [(ngModel)]="medicalCenter.medicalCenterZip" 
                                        name="medicalCenterZip" placeholder="medicalCenterZip"> -->
                                
                                       <!-- <label> Services </label>
                                        <input type="text" class="form-control" id="serviceName" 
                                                [(ngModel)]="specialServices.serviceName" 
                                                name="serviceName" placeholder="serviceName"> -->
                                        
                
        
            </div>

        <button type="submit" class="btn btn-success"> Add</button>
    </form>
    </div>

