<div class="col-md-6 offset-md-3">
    <h3>Create patient</h3>
    <form (ngSubmit)="onSubmit()" name="myform">
    
    <div class="form-group">

        <label> patientId </label>
        <input type="number" class="form-control" id="patientId" 
               [(ngModel)]="patient.userId" name="patientId" placeholder="patientId">
        
              
               <label> FirstName</label>
               <input type="text" class="form-control" id="patientFirstName" 
                       [(ngModel)]="patient.patientFirstName" name="patientFirstName" placeholder="patientFirstName">
                      
                      
                       <label> LastName</label>
                       <input type="text" class="form-control" id="patientLastName" 
                               [(ngModel)]="patient.patientLastName" name="patientLastName" placeholder="patientLastName">
                      
                      
                              
                               <input type="number" class="form-control" id="age" 
                                       [(ngModel)]="patient.age" name="age" placeholder="age">
                                    
         <label> Email </label>
        <input type="text" class="form-control" id="email" 
                [(ngModel)]="patient.email" name="email" placeholder="email">

                <label>Date </label>
                <input type="text" class="form-control" id="appointmentDate" 
                        [(ngModel)]="patient.appointment[0].appointmentDate" name="appointmentDate" placeholder="appointmentDate">
                           
               <label>Service Center </label>
               <select id ="medicalCenter" name="medicalCenter" [(ngModel)]="patient.appointment[0].medicalCenter"   class="form-select" aria-label="Default select example">      
                <option  *ngFor="let medicalCenter of medicalCenters"    ngValue="{{medicalCenter.medicalCenterName}}">{{medicalCenter.medicalCenterName}}</option> 
        </select>
        
            </div>

        <button type="submit" class="btn btn-success"> Add</button>
    </form>
    </div>

