
<!DOCTYPE html>
<html lang="en">
<head>
<title>Berhe's Home Page</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link href='https://fonts.googleapis.com/css?family=Sumana' rel='stylesheet'>

<style>
body, p,table {
    font-family: 'Sumana';font-size: 18px;
}

img {
    width: 100%;
}

</style>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

</head>
<body>



<div class="row">
  <div class="side">
    
    
    <h2>About Me</h2>
        <h2> Berhe Amare</h2>
        <h3> Full Stack Java Developer</h3>
        <p>
            I am a passionate, purpose driven Java Developer. 
           I am currently focusing my efforts on full stack java based applications. 
        I always learn as much as I can because seeing my skills grow is magical.   
        I live in Des Moines, Washington with my wife. I love reading, hiking and being outdoors. 
            I am always experimenting in the kitchen with new, tasty ingredients and dishes. 
            </p>
              
        <pre></pre> Thank you
        <pre></pre>
        - Berhe
        
  </div>
  <div class="main">
  



    
    <div style="width:100% ;height: 1000px;overflow: scroll;"> 
     







      <div class="container col-md-4">
<h1 style="color: red;"> User Login </h1>
<form  #loginForm="ngForm" (ngSubmit)="login(loginForm)">

<div class="mb-3" >
    <label for="exampleFormControlInput1" class="form-label">Id </label> <span style="color: red;"> {{message}}</span>
    <input type="text" class="form-control" ngModel  name="userName" id="userId" placeholder="provide id" required="plse enter">
  </div>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">password </label>
    <input type="password" class="form-control" ngModel name="userPassword"  id="password" placeholder="provide password">
  </div>



  <button type="submit" class="btn btn-primary">login</button>
</form>
<!-- For Create and Forgot Password -->
<nav class="navbar navbar-expand-lg navbar-white">
  <div class="container-fluid">
<ul class="navbar-nav" >
  <li class="nav-item"> <a class="nav-link active"  aria-current="page" routerLink="/create-account"> Create New Account</a>  </li>
  <li class="nav-item"><a class= "nav-link active" aria-current="page" routerLink="/forgot-password">Forgot Your Password?</a></li>
</ul>
  </div>
</nav>

</div>








      
    
      </div>
  </div>
</div>

<div>
<div >
  <h2>&copy; Berhe Amare 2022</h2>
  <div class="address">
    <p>Personal Website: <a href="https://www.berhewebsite.com " title="berhe's website">www.berhewebsite.com</a>
    </p>
<address> Email: <a href="mailto:addberhe2@gmail.com">addberhe2@gmail.com </a> </address>
<address>GitHub Link: <a href="https://github.com/berheA/SBA_CART_SYSTEM_Front_End.git"> GitHub Link </a> </address>
</div>
</div>
</div>
</body>
</html>










