



  <!DOCTYPE html>
  <html lang="en">
  <head>
  <title>Spring Boot WebSocket</title>
  <base href="/">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link href='https://fonts.googleapis.com/css?family=Sumana' rel='stylesheet'>
  
  <style>
  body, p,table {
      font-family: 'Sumana';font-size: 18px;
  }
  
  img {
      width: 100%;
  }
  
  </style>
      <!-- CSS only -->
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  
  </head>
  <body>
  
  
  
  <div class="row">
    <div class="side">
      
      
      <h2>About Me</h2>
          <h2> Berhe Amare</h2>
          <h3> Full Stack Java Developer</h3>
          <p>
              I am a passionate, purpose driven Java Developer. 
             I am currently focusing my efforts on full stack java based applications. 
          I always learn as much as I can because seeing my skills grow is magical.   
          I live in Des Moines, Washington with my wife. I love reading, hiking and being outdoors. 
              I am always experimenting in the kitchen with new, tasty ingredients and dishes. 
              </p>
                
          <pre></pre> Thank you
          <pre></pre>
          - Berhe
          
    </div>
    <div class="main">
    
  
  
  
      
      <div style="width:100% ;height: 1000px;overflow: scroll;"> 
       
  




        <div style="color: blue; text-align: center">
    <h1>{{title}}</h1>
    <h3>{{description}}</h3>
  </div>

  <div class="container" style="width: 400px; margin-top: 20px;">

    <form class="form-inline">
      <div class="form-group">
        <label for="connect">Make Connection:</label>
        <button id="connect" class="btn btn-default" type="button" [disabled]="!disabled" (click)="connect()">Connect</button>
        <button id="disconnect" class="btn btn-default" type="submit" [disabled]="disabled" (click)="disconnect()">Disconnect</button>
      </div>
    </form>

    <form class="form-inline" style="margin-top: 20px;">
      <div class="form-group">
        <label for="name">User's Name:</label>
        <input type="text" id="name" name="name" class="form-control" [(ngModel)]="name" />
      </div>
      <div class="form-group">
        <label for="content">Msg:</label>
        <input type="text" id="content" name="content" class="form-control" [(ngModel)]="content" />
      </div>
      <button id="send" class="btn btn-default" type="button" (click)="sendName()">Send</button>
    </form>

    <table id="conversation" class="table table-striped" style="margin-top: 20px;">
      <thead>
        <tr>
          <th>Greetings</th>
        </tr>
      </thead>
      <tbody *ngFor="let greeting of greetings">
        <tr>
         <td>{{greeting}}</td>
        </tr>
      </tbody>
    </table>

  </div>
  
  
  
  
  
  
  
  
        
      
        </div>
    </div>
  </div>
  
  <div>
  <div >
    <h2>&copy; Berhe Amare 2022</h2>
    <div class="address">
      <p>Personal Website: <a href="https://www.berhewebsite.com " title="berhe's website">www.berhewebsite.com</a>
      </p>
  <address> Email: <a href="mailto:addberhe2@gmail.com">addberhe2@gmail.com </a> </address>
  <address>GitHub Link: <a href="https://github.com/berheA/SBA_CART_SYSTEM_Front_End.git"> GitHub Link </a> </address>
  </div>
  </div>
  </div>
  </body>
  </html>






















