<div class="col-md-6 offset-md-3">
    <h3> Create MedicalCenter</h3>
    <form (ngSubmit)="onSubmit()">
    
    <div class="form-group">
        <label> Name </label>
        <input type="text" class="form-control" id="name" 
               [(ngModel)]="medicalCenter.medicalCenterName" name="name" placeholder="name">
        
        <label> Phone </label>
        <input type="text" class="form-control" id="phone" 
               [(ngModel)]="medicalCenter.phone" name="phone" placeholder="phone">
        <label> Email </label>
        <input type="email" class="form-control" id="email" 
                [(ngModel)]="medicalCenter.email" name="email" placeholder="email">
        
        <label> City </label>
        <input type="text" class="form-control" id="city" 
                [(ngModel)]="medicalCenter.medicalCenterCity" name="city" placeholder="city">
                <label> State </label>
                <input type="text" class="form-control" id="state" 
                        [(ngModel)]="medicalCenter.medicalCenterState" name="state" placeholder="state">
                
                        <label> Street Address </label>
                        <input type="text" class="form-control" id="medicalCenterStreetAddress" 
                                [(ngModel)]="medicalCenter.medicalCenterStreetAddress" 
                                name="medicalCenterStreetAddress" placeholder="medicalCenterStreetAddress">
                               
                                <label> Zip Code </label>
                                <input type="text" class="form-control" id="medicalCenterZip" 
                                        [(ngModel)]="medicalCenter.medicalCenterZip" 
                                        name="medicalCenterZip" placeholder="medicalCenterZip">
                                
                                       <label> Services </label>
                                        <input type="text" class="form-control" id="serviceName" 
                                                [(ngModel)]="medicalCenter.specialService" 
                                                name="serviceName" placeholder="serviceName">
                                        
                
        
            </div>

        <button type="submit" class="btn btn-success"> Add</button>
    </form>
    </div>
