<p>treatment-details works!</p>

<table class="table table-striped">
<thead>
<th> Patient Id</th>
<th> Patient's email address</th>
<th>Bill </th>
<th> Assigned Date </th>
<th> Treatment Date </th>
<th> Result</th>
<th *ngIf="userService.roleMatch(['Doctor'])">  Actions</th>
</thead>
<tbody>
 <tr *ngFor="let treatment of treatments">
<td *ngIf="(userService.roleMatch(['User']) 
&&  treatment.email==currentEmail) 
|| userService.roleMatch(['Doctor']) "> 

{{treatment.patientId}} </td>
<td *ngIf="(userService.roleMatch(['User']) 
&&  treatment.email==currentEmail) 
|| userService.roleMatch(['Doctor']) "> {{treatment.email}} </td>
<td *ngIf="(userService.roleMatch(['User']) 
&&  treatment.email==currentEmail) 
|| userService.roleMatch(['Doctor']) "> {{treatment.bill}} </td>
<td *ngIf="(userService.roleMatch(['User']) 
&&  treatment.email==currentEmail) 
|| userService.roleMatch(['Doctor']) "> {{treatment.assignedDate}} </td>
<td *ngIf="(userService.roleMatch(['User']) 
&&  treatment.email==currentEmail) 
|| userService.roleMatch(['Doctor']) "> {{treatment.treatmentDate}} </td>
<td *ngIf="(userService.roleMatch(['User']) 
&&  treatment.email==currentEmail) 
|| userService.roleMatch(['Doctor']) "> {{treatment.result}} </td>
<td *ngIf="!treatment.treatmentDate  && userService.roleMatch(['Doctor'])"> 
    <button (click)="updateTreatment(treatment.treatmentId)" class="btn btn-info">Treat</button></td>
<td  *ngIf="treatment.treatmentDate && userService.roleMatch(['Doctor'])" > 
    
    <button (click)="updateTreatment(treatment.treatmentId)" class="btn btn-danger" style="margin-left: 10px"> Update </button></td>
<td> <button (click)="treatmentDetails(treatment.treatmentId)" class="btn btn-info"   style="margin-left: 10px"> View</button></td>
 
</tr>
</tbody>

</table>
