
<div class="col-md-6 offset-md-3">
    <h3> Create New Account</h3>
    <form (ngSubmit)="onCreateAccount()">
    <div class="form-group">
    <label> firstName </label>
    <input type="text" class="form-control"
    [(ngModel)]="account.firstName" 
        id="firstName" name="firstName" 
        placeholder="provide firstName"
        #firstName="ngModel"
        required
        minlength="2"
        pattern="^[a-zA-Z]+"
        >   
        <span *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)"
        class="alert">
    
      <span *ngIf="firstName.errors?.['required']">
        FirstName is required.
      </span>
      <span *ngIf="firstName.errors?.['minlength']">
        FirstName must be at least 2 characters long.
      </span>
    <span *ngIf="firstName.errors?.['pattern']">
      FirstName must be only characters.
    </span>
        </span>  
        
    </div>
    <div class="form-group">
        <label> lastName </label>
        <input type="text" class="form-control" id="lastName" 
        [(ngModel)]="account.lastName" 
               name="lastName" placeholder="provide lastName"
               #lastName="ngModel"
               required
               minlength="2"
               pattern="^[a-zA-Z]+"
               >
               <span *ngIf="lastName.invalid && (firstName.dirty || lastName.touched)"
               class="alert">
           
             <span *ngIf="lastName.errors?.['required']">
               lastName is required.
             </span>
             <span *ngIf="lastName.errors?.['minlength']">
               lastName must be at least 2 characters long.
             </span>
           <span *ngIf="lastName.errors?.['pattern']">
             lastName must be only characters.
           </span>
               </span>  
        </div>
        <div class="form-group">
            <label> email </label>
            <input type="text" class="form-control" id="email" 
            [(ngModel)]="account.email" 
                   name="email" placeholder="provide email"
                   #email="ngModel"
                   required
                 pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                   >
                   <span *ngIf="email.invalid && (email.dirty || email.touched)"
                   class="alert">
               
                 <span *ngIf="email.errors?.['required']">
                   email is required.
                 </span>
                
               <span *ngIf="email.errors?.['pattern']">
                 email must be valid.
               </span>
                   </span>  
            </div>
            
                <div class="form-group">
                    <label> password </label>
                    <input type="password" class="form-control" id="password" 
                    [(ngModel)]="account.password"        
                    name="password" placeholder="provide password">
                    </div>
                    <div class="form-group" id="roleCheck"  *ngIf="displayRoleForAdmin()">
                        <label for="validationCustom04" class="form-label">Role</label>
                        <select class="form-select" name="userRole" [(ngModel)]="account.userRole" id="validationCustom04" required>
                          <option  value="Customer">Customer</option>
                          <option  value="Admin">Admin</option>
                          <option value="Doctor">Doctor</option>
                          <option value="Receptionist">Receptionist</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-success" *ngIf="firstName.errors || lastName.errors || email.errors" disabled> Create</button>
                    <button type="submit" class="btn btn-success" *ngIf="!firstName.errors && !lastName.errors && !email.errors"> Create</button>
    </form>
    </div>

